{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href='{{url_for("static",filename="event.css")}}'>

{% endblock %}


{% block body %}
<div class="addproductscontainer">

<h3 >Update Book: {{session['update_book_title']}}</h3>
<h4 >In {{session['update_book_section']}}</h4>

<form action="/update-book" method="post">

    <label for="title">Title:</label>
    <input type="text" id="title" name="name"><br>

    <label for="content">Content:</label>
    <textarea id="content" name="content" rows="4" ></textarea><br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" min="0"><br>

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" ><br>

    <label for="date">Date Issued:</label>
    <input type="date" id="date" name="date_issued" max="{{ current_date }}" ><br>

    <label for="return days">No of Days can be hold:</label>
    <input type="number" id="return_date" name="return_date" ><br>

    <label >Existing Sections: (Optional)</label>
    <select name="ExistingSection" style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 4px;">
        <option value="Default" selected>None selected</option>
        
        {% for section in sections %}
            <option value="{{section.section_id}}">{{section.name}}</option>
        {% endfor %}
    </select>

    <label >New Section: (Optional)</label>
    <input type="text" name="NewSection" placeholder="Fill if your desiered Section is not above" autofocus>
        
    
    <div class="updateDeleteButton">
        <input type="hidden" name="method" value="PUT">
        <button style="min-width: 80px;" type="submit">Submit</button>
        <a style="margin-left: 10px;" href="{{url_for('dashboard')}}" class="button-like">Cancel</a>
    </div>
    {% if error %}
        <p style="color:red">{{error}}</p>
    {% endif %}
</form>

</div>

{% endblock %}